body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.board-container {
    margin: 40px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

.cell.ship {
    background-color: #00bfff;
}

.cell.hit {
    background-color: red;
    pointer-events: none;
}

.cell.miss {
    background-color: #ddd;
    pointer-events: none;
}

#computer-board.disabled {
    pointer-events: none;
}


